label {
    width: 150px;
    float: left;
    margin-bottom: 5px;
  }
  input,
  select {
    width: 250px;
    float: left;
    margin-bottom: 5px;
  }
  fieldset {
    background: #66cccc;
    width: 350px;
    border: thick solid #306;
  }
  legend {
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-color: #fff;
  }
  #mensajes {
    float: left;
    background: #33ff33;
    width: 325px;
  }
  #errores {
    float: left;
    background: #ff6633;
    width: 325px;
  }
  #intentos {
    float: left;
    background: #ccff33;
    width: 325px;
  }
  .error {
    border: solid 2px #ff0000;
  }