table {
    margin: 20px auto; 
    border: outset grey 1px; 
    background: black; 
}
td {
    line-height: 0; 
    width: 40px; height: 40px; 
    background: grey; 
    text-align: center; 
    vertical-align: middle; 
}
tr:nth-child(odd) td:nth-child(odd), 
tr:nth-child(even) td:nth-child(even) {
    background: cornsilk; 
}

.blancas, .negras {
    display: inline-block; 
    font: 30px serif; 
    width: 40px; height: 40px; 
    background: white; 
    color: black; 
    border: 2px outset black; 
    border-radius: 30px; 
    overflow: hidden; 
}

.negras {
    background: black !important; 
    color: white; 
    border: 2px outset white; 
}