form {
  width: 25em;
}

div {
  margin: 0.25em;
}

label {
  display: inline-block;
  width: 6em;
}

input {
  width: 12em;
}

button {
  display: block;
  margin: 0 auto;
}

/* Validation Styles */
input:valid {
  background-color: #bbfff0;
}
